/node_modules
/.env
.env.local
.env.production
.env.development
/.umirc.local.ts
/config/config.local.ts
/src/.umi
/src/.umi-production
/src/.umi-test
/.umi
/.umi-production
/.umi-test
/dist
/.mfsu
.swc
.turbopack
/mock
*.md
!README.md
